*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --main-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-color: #2f303a;
  --icon-primary-color: #afb1b8;
  --overlay-background: rgba(0, 0, 0, 0.2);
}

header {
  border-bottom: 1px solid #ececec;
  background: var(--white-color);
}

body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

footer {
  background: var(--footer-color);
}

address {
  font-style: normal;

  line-height: 1.71;
  margin-top: 20px;
}

ul {
  padding-inline-start: 0px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.img-no-gap {
  display: block;
}

.vector {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.footer .container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container .section {
  padding-top: 0px;
  padding-bottom: 94px;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Logo */

.logo-header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--accent-color);

  text-decoration: none;
}

.logo-black {
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-text-color);

  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo-white {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--white-color);
  text-decoration: none;
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--accent-color);
  text-decoration: none;
}

/* List */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Site nav */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation {
  display: flex;
}

.site-nav .item {
  position: relative;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: 305px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact .item + .item {
  margin-left: 30px;
}

.site-nav .link {
  padding: 32px 0;
  text-decoration: none;
  color: var(--secondary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.link.current::after {
  display: block;
  position: absolute;

  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  bottom: -33px;
}

a .link.current {
  position: relative;
}

.contact .link {
  align-items: center;
  display: flex;
  padding: 32px 0;
  text-decoration: none;
  color: var(--primary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

.contact .link:hover .mail-icon {
  fill: var(--accent-color);
}
.contact .link:focus .mail-icon {
  fill: var(--accent-color);
}

.contact .link:hover .phone-icon {
  fill: var(--accent-color);
}
.contact .link:focus .phone-icon {
  fill: var(--accent-color);
}
/* Hero */

.hero {
  background-color: var(--footer-color);

  text-align: center;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-heading {
  display: block;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  letter-spacing: 0.06em;

  padding: 10px 32px;
  margin-top: 30px;
}

.button-center {
  /* Заказать услугу */

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
}

/* Features */

.features .list {
  display: flex;
  flex-wrap: wrap;
}

.feature-card {
  width: 270px;
  margin-right: 30px;
}

.feature-card:nth-child(4n) {
  margin-right: 0px;
}

.features .title {
  color: var(--secondary-text-color);

  font-size: 36px;
  line-height: 1.16;

  letter-spacing: 0.03em;
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  margin-bottom: 10px;
}

.features .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

/* Work */

.work {
  padding-top: 0px;
}

.thumb {
  background: var(--secondary-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
}

.feature-icon {
  width: 70px;
  height: 70px;
  color: var(--white-color);
  fill: var(--icon-primary-color);
}

.project-item {
  width: 370px;

  margin-top: 30px;
  margin-right: 30px;
}
.project-item:nth-child(3n) {
  margin-right: 0px;
}

.project-cards {
  margin-top: -30px;
  margin-right: -30px;
  display: flex;
  flex-wrap: wrap;
}

/* ДЗ 5 ниже */

.work-thumb {
  position: relative;
}

.work-thumb::before {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work-title {
  position: absolute;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  padding: 27px 82px;
  bottom: 0;
  left: 0;

  width: 100%;

  color: var(--white-color);
}

.project-thumb {
  overflow: hidden;
  position: relative;
}

.project-thumb::before {
  display: inline-block;
  position: absolute;

  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-thumb .project-text {
  width: 100%;
  padding: 63px 24px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 30%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--white-color);

  font-size: 18px;
  line-height: 1.55;

  opacity: 0;

}

.project-cards a:hover .project-text {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.project-cards a:hover .project-thumb::before {
  transform: translateY(0);
  opacity: 1;
}

.project-cards a:focus .project-text {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.project-cards a:focus .project-thumb::before {
  transform: translateY(0);
  opacity: 1;
}

/* ДЗ 5 конец */

.btm-border {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;

  padding: 20px 24px;
}

.work-item {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin-right: 30px;
}

.work .title {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--secondary-text-color);
}

.work .list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.list.item:nth-child(3n) {
  margin-right: 0px;
}

.work-item:nth-child(3n) {
  margin-right: 0px;
}

/* Team */

.team {
  background-color: var(--secondary-background-color);
}

.item-card {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
}

.team .title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.team .list {
  margin-top: 50px;
  display: flex;
}

.member-title {
  top: 1925px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.team .text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;

  text-align: center;
  letter-spacing: 0.03em;
}

.list .item-card {
  margin-right: 30px;
}

.list .item-card:nth-child(4n) {
  margin-right: 0px;
}

.bottom-card {
  padding: 30px 0px;
}

/* ДЗ на проверке */

.item-card .social {
  margin-right: 10px;
}

.item-card .social:nth-child(4n) {
  margin-right: 0px;
}

.socials {
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 16px;
}

.socials.list {
  margin-top: 16px;
}

/* button */

/* button-icon */
.social-icon {
  padding: 12px;
  width: 44px;
  height: 44px;
  color: var(--white-color);
  fill: var(--icon-primary-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social .link {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social .link:hover,
.social .link:focus {
  background: var(--accent-color);
}

.social .link:hover .social-icon {
  fill: var(--white-color);
}
.social .link:focus .social-icon {
  fill: var(--white-color);
}

.mail-icon {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  color: var(--white-color);
  fill: var(--primary-text-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.phone-icon {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  color: var(--white-color);
  fill: var(--primary-text-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Эта часть на проверке */

/* Button */

.buttons {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}

.buttons .item + .item {
  margin-left: 8px;
}

.button {
  cursor: pointer;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  border-radius: 4px;

  text-align: center;

  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;

  padding: 6px 22px;

  transition-property: background-color, color , box-shadow: 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px rgb(0 0 0 / 0%),
    0px 0px 0px rgb(0 0 0 / 0%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-background-color);
}
.button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-background-color);
}

.button.marketing:hover,
.button.marketing:focus,
.button.design:hover,
.button.design:focus,
.button.app:hover,
.button.app:focus,
.button.site:hover,
.button.site:focus,
.button.all:hover,
.button.all:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters .button {
  font-family: "Roboto";

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
  border: none;
}

/* Projects */

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.features .title,
.projects-title,
.filters .title {
  visibility: hidden;
}

p {
  line-height: 30px;
  font-size: 16px;
  letter-spacing: 0.03em;
}

/* Clients */

.clients .title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.clients .list {
  margin-top: 50px;
  display: flex;
}

.clients li {
  margin-right: 30px;

  position: relative;
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.clients li:nth-child(6n) {
  margin-right: 0px;
}

.client .thumb {
  background-color: var(--white-color);
  
  position: absolute;
  height: 100%;
  width: 100%;
  margin-bottom: 0px;
}

.clients svg {
  border-radius: 4px;
}

.client-thumb {
  outline: 1px solid var(--icon-primary-color);
  border-radius: 4px;

  background-color: var(--white-color);
  position: absolute;
  height: 100%;
  width: 100%;
  margin-bottom: 0px;

  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  width: 106px;
  height: 60px;
  color: var(--accent-color);
  fill: var(--icon-primary-color);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client .link:hover .client-icon {
  fill: var(--accent-color);
  outline-color: var(--accent-color);
}

.client .link:focus .client-icon {
  fill: var(--accent-color);
  outline-color: var(--accent-color);
}

.client .link:hover .client-thumb {
  fill: var(--accent-color);
  outline-color: var(--accent-color);
}

.client .link:focus .client-thumb {
  fill: var(--accent-color);
  outline-color: var(--accent-color);
}

/* Footer */

.address .item + .item {
  margin-top: 9px;
}

/* Links */
.map {
  color: var(--white-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address .map:hover,
.address .map:focus {
  color: var(--accent-color);
}

.address .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.join {
  margin-left: 70px;
}

.join .list {
  display: flex;
}

.join-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.join .socials {
  margin-top: 20px;
}

.join .social {
  margin-right: 10px;
}

.join .social:nth-child(4n) {
  margin-right: 0px;
}

/* ДЗ делаю старт */

.mailing-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscribe {
  width: 100%;
  margin-left: 70px;
}

.subscribe-item {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.subscribe input {
  width: 100%;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--footer-color);
}

.subscription {
  margin-left: 12px;
  position: relative;
  padding: 10px 62px 10px 29px;
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;
}

/* ДЗ 6 делаю */

.project-cards a {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);
box-shadow: 0px 0px 0px rgb(0 0 0 / 0%), 0px 0px 0px rgb(0 0 0 / 0%),
    0px 0px 0px rgb(0 0 0 / 0%);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-cards a:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-cards a:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

footer .social-icon {
  fill: var(--white-color);
}

/* Icons sprite */

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* backdrop & modal-window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-background);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;
  height: 581px;
  width: 530px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
}

.close-modal:hover,
.close-modal:focus {
  fill: var(--accent-color);
}

.heading-form {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700; 
  font-size: 20px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal-form {
  display: flex;
}

.wraper {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

.wraper-submit{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  margin-top: 20px;
}

.label {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  margin-bottom: 4px;
  margin-top: 10px;
}

.label:first-child {
  margin-top: 0px;
}

.agreement {
  display: flex;
  align-items: center;
  line-height: 1.71;
}

.agreement a {
  color: var(--accent-color);
  margin-left: 5px;
  line-height: 1.71;
}

.modal-form .input {
  padding: 8px 9px 8px 40px;

  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  color: var(--primary-text-color);

  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.submit-form {
  width: 200px;
  padding: 15px 29px;
  margin-top: 30px;

  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 15px;
  right: -4px;
  transform: translate(-50%, -50%);
}

.subscribe-icon {
  position: absolute;
  width: 24px;
  height: 24px;

  top: 13px;
  right: 28px;
}

.user-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  transform: translate(12px, -1070%);
}

.form-phone-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  transform: translate(12px, -690%);
}

.form-email-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  transform: translate(12px, -315%);
}

/* .input:hover .form-icon {
  fill: var(--accent-color);
} */

.input:focus-within {
  outline: none;
  border-color: var(--accent-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  fill: var(--secondary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus-within + .form-icon {
  fill: var(--accent-color);
}

.comment:focus-within {
  outline: none;
  border-color: var(--accent-color);
}

.check__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.check__box {
  display: inline-block;

  margin-right: 7px;

  width: 15px;
  height: 15px;
  background-color: var(--main-background-color);
  border: solid 2px var(--secondary-text-color);
  border-radius: 2px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}

/* Checked */

.check__input:checked + .check__box {
  border-color: var(--accent-color);

  background: url(../images/checkbox_checked.svg);
  width : 15px;
  height: 15px;
  background-size: contain;

  background-color: var(--accent-color);
  background-origin: border-box;
}

/* Focused */

.check__input:focus + .check__box {
  outline: none;
  border: solid 1px var(--accent-color);
}
