.header {
  border-bottom: 1px solid #ececec;
  background: $white-color;
}

.header__inner {
  display: flex;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: $accent-color;

  text-decoration: none;
  &--black {
    color: $secondary-text-color;
  }
}

.menu {
  display: flex;
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu__item {
  position: relative;
  margin-left: 50px;
  &:first-child {
    margin-left: 0px;
  }
}

.menu__link {
  padding: 32px 0;
  text-decoration: none;
  color: $secondary-text-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    color: $accent-color;
  }
  &--current {
    color: $accent-color;
    &::after {
      display: block;
      position: absolute;

      content: "";
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;

      bottom: -33px;
    }
  }
}

.contact {
  display: flex;
  align-items: center;
  margin-left: 305px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact__item {
  margin-left: 30px;
  &:first-child {
    margin-left: 0px;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  padding: 32px 0;

  text-decoration: none;
  color: $primary-text-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  :focus {
    color: $accent-color;
  }
}

.contact__icon {
  margin-right: 10px;
  color: $white-color;
  fill: $primary-text-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &--mail {
    width: 16px;
    height: 12px;
  }
  &--phone {
    width: 10px;
    height: 16px;
  }
  .contact__link:hover & {
    fill: $accent-color;
  }
  .contact__link:focus & {
    fill: $accent-color;
  }
}
